.News_ITEM p:hover
{
    text-decoration: underline;
}

.News_ITEM p::after 
{
    content: ' ↗'; /* Symbols: '🔗', '→', '↗' */
    font-size: 1em;
    vertical-align: super;
    color: inherit;
    opacity: 0.7;
}

.Main_COL2
{
    transition: all 0.3s ease-in-out;
}

@media (max-width: 800px)
{
    .Main_COL2
    {
        margin: auto;
        width: 20%;        
    }
}

@media (max-width: 650px)
{
    .Main_COL2
    {
        display: none;     
    }
}